<mados-header></mados-header>

<ng-container *ngIf="viewState === ViewState.SUCCESS">
    <mados-add-categories-form
        (reloadDescription)="getDescriptionData()"
        [categories]="(categories$ | async)!"
    ></mados-add-categories-form>
    <mados-add-game-form
        (reloadDescription)="getDescriptionData()"
        [description]="(description$ | async)!"
    ></mados-add-game-form>
    <mados-description-section [descriptionData]="(description$ | async)!"></mados-description-section>
</ng-container>

<mados-loading-state *ngIf="viewState === ViewState.LOADING" class="view-state-component"></mados-loading-state>
<mados-error-state *ngIf="viewState === ViewState.ERROR" class="view-state-component"></mados-error-state>
