$color-black-russian: #14161a;
$color-dark-white: #f5f5f5;
$color-magnolia-white: #f1edf8;
$color-light-purple: #e9e2f4;
$color-purple: #6d42ba;
$color-red: #c0392b;
$color-green: #20bf6b;
$color-light-blue: #edf5fd;
$color-blue: #3498db;
$color-gray-61: #9c9c9c;
