@use 'src/styles/colors' as *;

.form {
    background: $color-magnolia-white;
    padding: 20px;
    border-radius: 4px;
}

.form-fields-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.game-name-form-field {
    grid-column: 1 / 4;
}

.length-form-field {
    grid-column: 4 / 6;
}

.difficulty-form-field {
    grid-column: 6 / 8;
}

.icon-clear {
    cursor: pointer;
}

.checkboxes-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 0 20px;
}

.add-game-button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-top: 40px;
}

@media screen and (max-width: 480px) {
    .form-fields-container {
        grid-template-columns: 1fr;
    }

    .game-name-form-field, .length-form-field, .difficulty-form-field {
        grid-column: auto;
    }
}
