@use 'src/styles/colors' as *;

.description {
    max-height: 60vh;
    background: $color-black-russian;
    padding: 15px;
    color: $color-dark-white;
    overflow-y: auto;
    position: relative;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 4px $color-black-russian;
        background: $color-dark-white;
    }
}

.margin-top {
    margin-top: 30px;
}

.icons-container {
    position: absolute;
    top: 15px;
    right: 15px;
}

.icon {
    width: 42px;
    height: 42px;
    font-size: 42px;
    color: $color-dark-white;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    &:nth-of-type(n + 1) {
        margin-left: 10px;
    }
}
