<section *ngIf="(description$ | async) as description" class="description">
    <div>
        <mados-category
            *ngFor="let category of description?.categories"
            [type]="category.type"
            [iconName]="category.iconName"
            [description]="category.description"
            [amount]="category.amount"
        ></mados-category>
    </div>
    <div class="margin-top">
        <p>{{ sectionSeparator }}</p>
        <p>COMPLETED ({{ description?.completedGames?.length }}):</p>
        <p>{{ sectionSeparator }}</p>
    </div>
    <div class="margin-top">
        <mados-game
            *ngFor="let game of description?.completedGames"
            [oneHundredPercentIconName]="game.oneHundredPercentIconName"
            [name]="game.name"
            [iconNames]="game.iconNames"
        ></mados-game>
    </div>
    <div class="margin-top">
        <p>{{ sectionSeparator }}</p>
        <p>NEW ACHIEVEMENTS ({{ description?.gamesWithNewAchievements?.length }}):</p>
        <p>{{ sectionSeparator }}</p>
    </div>
    <div class="margin-top">
        <mados-game
            *ngFor="let game of description?.gamesWithNewAchievements"
            [oneHundredPercentIconName]="game.oneHundredPercentIconName"
            [name]="game.name"
            [iconNames]="game.iconNames"
        ></mados-game>
    </div>
    <mat-icon
        #tooltip="matTooltip"
        (click)="handleTooltip($event, tooltip)"
        (mouseenter)="$event.stopImmediatePropagation()"
        (mouseleave)="$event.stopImmediatePropagation()"
        [matTooltip]="tooltipText"
        [cdkCopyToClipboard]="descriptionToCopy"
        fontIcon="content_copy"
        class="icon-copy"
    ></mat-icon>
</section>
